.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-book {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

tr:nth-child(even) {
  background-color: #405065;
  color: aliceblue;
}
